@use "constants" as *;
@use "mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg-color;
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* To center the card (.container) */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 1.25rem;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

hr {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.container {
  background-color: white;
  border-radius: 32px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.inner-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;

  .nav-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;

    .user-initials {
      background-color: $primary-dark;
      color: white;
      padding: 6px;
      border-radius: 8px;
    }
  }

  .nav-right__elements {
    display: none;

    @include for-tablet() {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 24px;
    }
  }
}

.btn-menu {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;

  @include for-tablet() {
    display: none;
  }

  img {
    width: 36px;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.user-description {
  width: 75%;
  color: rgb(105, 105, 105);
}

footer {
  margin-top: 30px;
  width: 100%;
  background-color: $primary-dark;
  color: white;
  border-radius: 0px 0px 32px 32px;
  padding: 24px;

  .footer-content {
    margin: 24px 0 64px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;

    .user-initials-footer {
      background-color: white;
      color: black;
      padding: 6px;
      margin-right: 4px;
      border-radius: 8px;
    }

    .footer-desc {
      width: 75%;
    }
  }
}
