// Importa todo lo que hay en el archivo _constants
@use "constants" as *;

@mixin for-tablet {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin for-desktop {
  @media (min-width: $desktop) {
    @content;
  }
}
