@use "constants" as *;
@use "mixins" as *;

.hero-section-p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  font-size: 1.05rem;
}

.grid-section {
  display: grid;
  padding: 24px;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 24px;
  margin: 0 auto;

  @include for-tablet() {
    grid-template-columns: repeat(2, 1fr);
  }

  @include for-desktop() {
    width: 85%;
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  width: 100%;
  border-radius: 32px;
  display: flex;
  margin: 8px auto;
  flex-direction: column;
  max-width: 600px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);

  @include for-tablet() {
    max-width: none;
  }

  .card-img {
    width: 100%;

    img {
      margin: auto;
      width: 100%;
      height: 200px;
      object-fit: cover;
      object-position: center;
      display: block;
      border-radius: 32px 32px 0 0;
    }
  }

  .card-text {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    text-align: left;
    gap: 12px;
  }

  h4 {
    font-weight: normal;
  }

  p {
    color: rgb(105, 105, 105);
  }

  .card-text-chips {
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: flex-start;
    gap: 12px;
    flex-wrap: wrap;

    span {
      background-color: var();
      font-size: 0.9rem;
      padding: 4px 12px;
      border-radius: 12px;
      background-color: rgb(238, 242, 245);
    }
  }
}
