.grid-section {
  display: grid;
  padding: 24px;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
  margin: 0 auto;
}

.card {
  border-radius: 32px;
  margin: 8px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
}

.card-img {
  width: 100%;
}

.card-img img {
  margin: auto;
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  display: block;
  border-radius: 32px 32px 0 0;
}

.card-text {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  text-align: left;
  gap: 12px;
}

.card-text h4 {
  font-weight: normal;
}

.card-text p {
  color: rgb(105, 105, 105);
}

.card-text-chips {
  width: 75%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: flex-start;
  gap: 12px;
  flex-wrap: wrap;
}

.card-text-chips span {
  background-color: var();
  font-size: 0.9rem;
  padding: 4px 12px;
  border-radius: 12px;
  background-color: rgb(238, 242, 245);
}

/*** TABLET ***/
@media (min-width: 768px) {
  .grid-section {
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    max-width: none;
  }
}

/*** DESKTOP ***/
@media (min-width: 1024px) {
  .grid-section {
    padding: 48px;
    grid-template-columns: repeat(3, 1fr);
  }
}
